@tailwind base;
@tailwind components;
@tailwind utilities;

/* เหลือแค่นี้พอครับ */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #a7f3d0; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #34d399; }

body {
  @apply bg-gray-50 text-gray-800 transition-colors duration-500;
}
.dark body {
  @apply bg-gray-900 text-white;
}